<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
  <title>CRUD | Application</title>
</head>
<body>
  {{>Nav}}
  <h3>Employee Data</h3>
  <div class="container-fluid mid-section">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Designation</th>
          <th scope="col">Salary</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col" colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td>{{_id}}</td>
          <td>{{name}}</td>
          <td>{{email}}</td>
          <td>{{phone}}</td>
          <td>{{dsg}}</td>
          <td>{{salary}}</td>
          <td>{{city}}</td>
          <td>{{state}}</td>
          <td><a href="/edit/{{_id}}"><i class="fa-solid fa-pen-to-square"></i></a></td>
          <td><a href="/delete/{{_id}}"><i class="fa-solid fa-trash-can text-danger"></i></a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{>Footer}}
</body>
</html>